*{
  margin: 0;
  padding: 0;
}

/* navbar starts */
.top{
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.right{
  position: absolute;
  right: 20px;
}
/* navbar ends */

/* homesection starts */
#home{
  text-align: center;
  padding: 100px;
  height: 500px;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    #6889ff, #c668ff
  );
  color: black;
  font-size: 3rem;
}

/* home section ends */

/* about section starts */
#about{
  text-align: center;
  height: 500px;
  width: 100%;
  background:linear-gradient(
    to bottom right,
    #fdc639, #ff7c60
  );
}

/* about section starts */

/* sign up section starts */
#sign-up{
  padding: 40px;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    #5B7FFF, #33ccfc
  );
  text-align: center;
  color: white;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  margin: 20px;
}
.sign-in-link{
  text-decoration: none;
  color: #012661;
  font-weight: 500;
  font-size: 1.2rem;
}
/* sign up section ends */


/* sign in section starts */
#sign-in{
  height: 100vh; 
  width: 100%;
  background:linear-gradient(
    to bottom right,
    #ff6868 ,#ff68de
  );
  padding: 40px;
  text-align: center;
  color: black;
}

/* sign in section ends */


/* footer section starts */
#footer{
  height: 100px;
  background: linear-gradient(
    to bottom right,
    #ff9e68, #ff68de
  );
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

/* footer sction ends */


/* .body{
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
 */
